html {
    scroll-behavior: smooth;
}

.homePageBanner{
    background-image: url(../../assets/image/more/3.png);
    background-position: center;
    background-size: cover;
}

.homePageBanner2 {
    background-image: url('../../assets/image/more/4.png'), url('../../assets/image/more/5.png');
    background-position: left top, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto; /* You can adjust the size as needed */
}

#product {
    background-color: rgba(245, 244, 241, 0.75); 
  }